.section-border-top {
   border-bottom-style: solid;
}

img.home-img-size {
   width: 50%;
   height: 50%;
}

.nav.navbar-nav.navbar-right li {
   color: white;
}

.home-text {
   font-size: 20px;
}

#page-top {
   padding-top: 75px !important;
   line-height: 1.15;
}

#page-top p {
    padding-left: 50px;
}

body {
   font-size: 18px;
   background-color: #dfe2db;
}

section {
   padding-bottom: 50px !important;
   padding-top: 30px !important;
}

.custom-font {
   font-family: 'Poppins', sans-serif !important;
}

h1 {
   font-family: 'Poppins', sans-serif !important;
   font-weight: 700;
   padding-top: 30px;
}

#mainNav {
   color: white !important;
}

#mainNav a {
   color: white !important;
}

#resume {
   line-height: 1.15;
}

#resume h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

#resume .card-header {
    background-color: #dfe2db;
}

#resume li {
    padding: 5px;
}

#resume, #page-top, #contact {
   background-color: #ffff80;
}

#contact {
   padding-bottom: 100px;
}



#proficiencies h2 {
    padding-top: 25px;
}

#top-pic {
   display: block;
   margin-left: auto;
   margin-right: auto
}

.selected {
    background-color: grey;
}

.connect-icons ion-icon {
    width: 32px;
    height: 32px;
}

.card {
    margin: 10px;
}
